{% extends 'base1.html' %}

{% block title %}
Admin
{% endblock title %}

{% block body %}
<br><br>
<div>
    <div class="container">
        <div>
            <h3 style="font-family:initial">INSTRUCTORS&nbsp; DETAILS</h3>
        </div>
        <div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">EDIT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in s1 %}
                    <tr>
                        <td>{{post.name}}</td>
                        <td>{{post.email}}</td>
                        <td>{{post.username}}</td>
                        <td><a href="/adminInstructorEdit/{{post.id}}"><button class="btn btn-primary">Edit </button> </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>   
            </table>
        </div>
    </div>
</div>
<br>
<br>

<div>
    <div class="container">
        <div>
            <h3 style="font-family:initial">STUDENTS  &nbsp;DETAILS  </h3>
        </div>
        <div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">EDIT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in s2 %}
                    <tr>
                        <td>{{post.name}}</td>
                        <td>{{post.email}}</td>
                        <td>{{post.username}}</td>
                        <td><a href="/adminStudentEdit/{{post.id}}"><button class="btn btn-primary">Edit </button> </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <div class="container">
        <div>
            <h3 style="font-family:initial">COURSES &nbsp;  DETAILS</h3>
        </div>
        <div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">COURSE NAME</th>
                        <th scope="col">UNIVERSITY NAME</th>
                        <th scope="col">DIFFICULTY</th>
                        <th scope="col">FEE</th>
                        <th scope="col">DURATION</th>
                        <th scope="col">EDIT</th>
                        <th scope="col">DELETE</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for post in s3 %}
                    <tr>
                        <td>{{post.course_name}}</td>
                        <td>{{post.university_name}}</td>
                        <td>{{post.difficulty}}</td>
                        <td>{{post.fee}}</td>
                        <td>{{post.duration}}</td>
                        <td><a href="/adminCourseEdit/{{post.cid}}"><button class="btn btn-primary">Edit </button> </a> </td>
                        <td><a href="/adminCourseDelete/{{post.cid}}"><button onclick="return confirm('Are you sure to Delete data');" class="btn btn-danger">Delete </button> </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>   
            </table>
        </div>
    </div>
</div>
<br><br>
{% endblock body %}